<h1>Ajouter un livre</h1>
<form (ngSubmit)="addBook(f)" #f="ngForm">
  <div class="mb-3">
    <label for="titre" class="form-label">Titre</label>
    <input type="text" class="form-control" id="titre" name="titre" ngModel required #titre="ngModel">
    <div *ngIf="titre.invalid && titre.touched" class="alert alert-danger" role="alert" >Ce champ est obligatoire</div>
  </div>
  <div class="mb-3">
    <label for="auteur" class="form-label">Auteur</label>
    <input type="text" class="form-control" id="auteur" name="auteur" ngModel>
  </div>
  <div class="mb-3">
    <label for="date-publication" class="form-label">Date de publication</label>
    <input type="date" class="form-control" id="date-publication" name="datePublication" ngModel>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Valider</button>
</form>
